@model HollywoodStars.Models.Movie

@{
    if (string.IsNullOrEmpty((string)ViewContext.RouteData.Values["id"]))
    {
        ViewBag.Title = "Add Movie";
    }
    else
    {
        ViewBag.Title = "Update Movie";
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })

            @Html.LabelFor(model => model.ReleaseYear, htmlAttributes: new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.ReleaseYear, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.ReleaseYear, new { htmlAttributes = new { @class = "form-control" } })

            <a href="/ManageMovies/" class="btn btn-outline-secondary vspace">Back</a>

            @if (Model == null || Model.MovieId == 0)
            {
                <input type="submit" value="Add" class="btn btn-primary vspace" />
            }
            else
            {
                <input type="hidden" name="MovieId" value="@Model.MovieId" />
                <input type="submit" value="Update" class="btn btn-primary vspace" />
            }
        </div>
    </div>
}